
<div class="flowchart-wrapper">
  <h1>Guide til passiv investering</h1>


  <!-- Angular Material Progress Bar -->
  <mat-progress-bar 
    mode="determinate" 
    [value]="progressPercentage" 
    class="progress-bar"
    color="primary">
  </mat-progress-bar>

  <div class="flow-container">
    <div class="flow-content">
      <div class="flow-node"
           [ngClass]="{
             'slide-out': isTransitioning,
             'left': transitionDirection === 'left',
             'right': transitionDirection === 'right'
           }">
        <ng-container *ngTemplateOutlet="nodeContent; context: { node: currentNode }"></ng-container>
      </div>
      <div *ngIf="nextNode" class="flow-node"
           [ngClass]="{
             'slide-in': isTransitioning,
             'left': transitionDirection === 'left',
             'right': transitionDirection === 'right'
           }">
        <ng-container *ngTemplateOutlet="nodeContent; context: { node: nextNode }"></ng-container>
      </div>
    </div>
  </div>

  <div class="navigation-buttons">
    <!-- Angular Material Button for navigation -->
    <button *ngIf="canGoBack" (click)="goBack()" mat-stroked-button class="back-button">
      Tilbage
    </button>
  </div>
</div>

<ng-template #nodeContent let-node="node">
  <div class="node-content">
    <ng-container *ngIf="node.type === 'question'">
      <h2 class="question">{{ node.content }}</h2>
      <div class="options">
        <!-- Material Button for options -->
        <button *ngFor="let option of node.next" (click)="selectAnswer(option.answer)" mat-raised-button color="primary" class="option-button">
          {{ option.answer }}
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="node.type === 'result'">
      <h2 class="result">{{ node.content }}</h2>
      <!-- Material Button for resetting -->
      <button (click)="resetFlow()" mat-stroked-button class="reset-button">
        Start forfra
      </button>
    </ng-container>
    <div *ngIf="node.infoBox" class="info-box">
      <h3>Info</h3>
      <p>{{ node.infoBox }}</p>
    </div>
  </div>
</ng-template>