// theme.scss
@use '@angular/material' as mat;

@include mat.core();

$dark-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$chartreuse-palette,
    tertiary: mat.$chartreuse-palette
  ),
  density: (
    scale: -1
  )
));

// Include all Angular Material styles and components
html {
  @include mat.all-component-themes($dark-theme);
}

/* Custom color variables */
$dark-green: #2e7d32;
$even-darker-green:#27632a;
$anthracite-grey: #2C3539;
$light-grey: #F5F5F5;
$white: #FFFFFF;

/* Global styles */
body {
  background-color: $light-grey;
  color: $anthracite-grey;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: left;
  color: $dark-green;
}

// /* Enhanced Styles */
// a {
//   color: $dark-green;
//   &:hover {
//     color: $even-darker-green;
//   }
// }