
<div class="content-wrapper">
    <h1>Budget</h1>

  <!-- Link Cards -->
  <div class="link-list">
    <div class="link-card-container" *ngFor="let link of links">
      <mat-card class="link-card modern-card">
        <mat-card-header>
          <mat-card-title>{{ link.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ link.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-stroked-button [href]="link.url" target="_blank">Lær Mere</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <!-- Budget Info Section -->
  <div class="budget-info-wrapper">
    <mat-card class="budget-info modern-card">
      <mat-card-header>
        <mat-card-title>Hvorfor det er vigtigt at lave et budget?</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Et budget er et vigtigt værktøj til at styre din økonomi effektivt. Det hjælper dig med at holde styr på dine indtægter og udgifter, så du har kontrol over dine penge.
          Ved at lave et budget kan du planlægge for fremtiden, sætte økonomiske mål og undgå unødvendig gæld.
        </p>

        <mat-divider></mat-divider>

        <mat-card-subtitle>Sådan laver du et budget</mat-card-subtitle>
        <p>
          For at lave et budget skal du starte med at beregne din samlede månedlige indkomst. Derefter skal du lave en liste over dine faste udgifter som bolig, mad, transport og opsparing.
        </p>

        <mat-divider></mat-divider>

        <mat-card-subtitle>Værktøjer du kan bruge til budgettering</mat-card-subtitle>
        <p>Der findes flere værktøjer, som kan hjælpe dig med at lave et budget, såsom:</p>
        <mat-list class="dark-list">
          <mat-list-item>Regneark som Microsoft Excel eller Google Sheets, hvor du kan tilpasse budgetskabeloner.</mat-list-item>
          <mat-list-item>
            Apps som 
            <a mat-button color="accent" href="https://www.youneedabudget.com/" target="_blank">You Need A Budget (YNAB)</a> eller
            <a mat-button color="accent" href="https://www.mint.com/" target="_blank">Mint</a> til nem sporing på farten.
          </mat-list-item>
          <mat-list-item>Pen og papir for en simpel, praktisk tilgang.</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>