.main-title {
    text-align: center;
    margin: 20px 0;
  }
  
  .content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Link List Section */
  .link-list-container {
    background-color: #303030;
    padding: 0px;
    margin-bottom: 20px;
  }
  
  .link-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  /* Individual Link Card */
  .link-card {
    width: 300px;
    background-color: #424242;
    color: #ffffff;
  }
  
  .link-card .mat-card-title {
    color: #ffffff;
    font-size: 1.4em;
  }
  
  .link-card .mat-card-content {
    color: #bbbbbb;
  }
  
  .link-card .mat-raised-button {
    margin-bottom: 8px;
  }
  
  /* Card Hover Effect */
  .link-card:hover {
    transform: translateY(-2px);
    transition: transform 0.3s ease-in-out;
  }
  
  /* Budget Info Section */
  .budget-info {
    background-color: #f9f9f9;
    color: #333;
    margin-bottom: 40px;
  }
  
  .budget-info .mat-card-title {
    color: #4caf50;
    font-size: 1.8em;
  }
  
  .budget-info h3 {
    font-size: 1.5em;
    margin-top: 20px;
    color: #333;
  }
  
  .budget-info p {
    font-size: 1.1em;
    color: #555;
  }

  .dark-list {
    background-color: #333; /* Dark background */
    border-radius: 8px;
    padding: 16px;
    color: #e0e0e0; /* Light text for contrast */
  }
  
  .dark-list mat-list-item {
    border-bottom: 2px solid #5d5b5b;
    padding: 10px 0;
  }
  
  .dark-list mat-list-item:last-child {
    border-bottom: none;
  }
  
  .dark-list a[mat-button] {
    font-weight: bold;
    text-decoration: none;
  }
  
  .dark-list a[mat-button]:hover {
    text-decoration: underline;
  }

