.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.interest-wrapper {
  width: 50%; /* Left side (50% width for the form) */
  display: flex;
  justify-content: center;
  margin: 10px;
  align-items: flex-start;
}

.right-side-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%; /* Right side (50% width for result and chart) */
  margin: 10px;
}

.result-wrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.chart-wrapper {
  display: flex;
  justify-content: center;
}

.full-width {
  width: 100%; /* Ensure it takes the full width of the container */
}

.modern-card, .result-card, .chart-card {
  width: 100%;
  max-width: 600px;
  background-color: #F5F5F5;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.chart-card {
  max-width: 1000px;
}