<div class="content-wrapper">
  <h1 class="page-title">Udregn renters rente</h1>

  <div class="flex-container">
  <div class="interest-wrapper">
    <mat-card class="modern-card">
      <form>
        <!-- Existing savings -->
        <div class="form-group">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Eksisterende opsparing</mat-label>
            <span matTextSuffix>kr&nbsp;</span>
            <input matInput type="number" placeholder="100000" [(ngModel)]="existingSavings" name="existingSavings" (ngModelChange)="calculate()">
          </mat-form-field>
        </div>

        <!-- Expected annual return -->
        <div class="form-group">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Forventet årligt afkast</mat-label>
            <input matInput type="number" placeholder="0" [(ngModel)]="expectedReturn" name="expectedReturn" (ngModelChange)="calculate()">
            <span matTextSuffix>%</span>
          </mat-form-field>
        </div>

        <!-- Savings period -->
        <div class="form-group period-input">
          <mat-form-field appearance="fill" class="half-width">
            <mat-label>År</mat-label>
            <input id="year-input" matInput type="number" placeholder="0" [(ngModel)]="years" name="years" min="0" (ngModelChange)="calculate()">
          </mat-form-field>
          <mat-form-field appearance="fill" class="half-width">
            <mat-label>Mdr.</mat-label>
            <input id="month-input" matInput type="number" placeholder="0" [(ngModel)]="months" name="months" min="0" (ngModelChange)="calculate()">
          </mat-form-field>
        </div>

        <!-- Compound interval -->
        <div class="form-group">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Interval af rentetilskrivning</mat-label>
            <mat-select [(ngModel)]="compoundInterval" name="compoundInterval" (selectionChange)="calculate()">
              <mat-option value="annually">Årligt</mat-option>
              <mat-option value="monthly">Månedligt</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Monthly contribution -->
        <div class="form-group">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Månedlig indbetaling</mat-label>
            <span matTextSuffix>kr</span>
            <input matInput type="number" placeholder="0" [(ngModel)]="monthlyContribution" name="monthlyContribution" (ngModelChange)="calculate()">
          </mat-form-field>
        </div>
      </form>
    </mat-card>
  </div>

  <div class="right-side-wrapper">
  <!-- Result Card -->
  <div class="result-wrapper" *ngIf="result">
    <mat-card class="result-card">
      <mat-card-header>
        <mat-card-title>
          Din opsparing vil vokse til: {{ result | currency:'DKK':'symbol':'1.0-0' }}
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>

  <!-- Result Chart -->
  <div *ngIf="chartData.datasets[0].data.length" class="chart-wrapper">
    <mat-card class="chart-card">
      <mat-card-header>
        <mat-card-title>Årlig Opsparing Vækst</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <canvas baseChart 
                [datasets]="chartData.datasets" 
                [labels]="chartData.labels" 
                [type]="'line'"
                [options]="chartOptions">
        </canvas>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>
</div>